@import mixins
@import reset
$baseColor:#fff
$secondColor:#000
body
    font-family: Arial, Helvetica, sans-serif
    font-weight: 600
.title
    display: flex
    margin-bottom: 26px
.values
    margin-left: 243px
    color: red
    font-weight: 400
    position: relative
    top: -15px
.string
    margin-left: 243px
    color: red
    font-weight: 400
    position: relative
    top: -40px

.sub_contener
    display: flex
    flex-direction: column
.sub_contener,.title
    // margin: 20px 0 20px 0
.sub_tatle
    color: green

    margin-left: 100px
    display: flex
    justify-content: start
.preloader_box
    display: none
    width: 100vw
    height: 100vh
    position: fixed
    justify-content: center
    align-items: center
.code
    border: 1px solid #000000
    @include width_height(100px,50px)
    text-align: center
    line-height: 50px
.flag 
    border: 1px solid #000000
    @include width_height(100px,50px)
.name 
    border: 1px solid #000000
    @include width_height(300px,50px)
    text-align: center
    line-height: 50px
.capital 
    border: 1px solid #000000
    @include width_height(300px,50px)
    text-align: center
    line-height: 50px
.population 
    border: 1px solid #000000
    @include width_height(300px,50px)
    text-align: center
    line-height: 50px
#info
    display: block


